.container{
    width:1100px;
    margin:0 3% 0 3%;
    background-image: url("images.jpeg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
    opacity: 1;
}
img{
    float:left;
    margin:1%;
}
.clear{
    clear:both;
}
.personal{
    float: right;
    margin-right:90px;
}
.education{
    border:solid darkblue;
    padding: 0.25%;
    margin: 1%;
    width: 500px;
    float: left;
  
}
.work{
    border:solid darkblue;
    padding: 0.25%;
    margin: 1%;
    width: 500px;
    float:left;
}
.skills{
    border:solid darkblue;
    padding: 0.25%;
    margin: 1%;
    width: 500px;
    float:left;
   
}
h2{
    padding: -1% 0 0.5% 0.5%;
    margin: 0 0 0.5% 0.5%;
}



