.container{
    border-radius: 30px;
    min-height: 750px;
}
.book-list{
    float: left;
}
.slider-bar{
    float: left;
    margin-left: 10%;
    height: 150px;
}
.book-img{
    height: 175px;
}
.backtotop{
    position: fixed;
    bottom: 20px;
    right: 30px;
}
.third-bar{
    margin-left: 35%;
}
