label{
    display: inline-block;
    width: 200px;
    margin: 1% 1% 0 5%;
}
.btn{
    margin: 1% 5%;
}
.line input{
    width: 200px;
    height: 20px;
}
.container{
    width: 90%;
    margin: 0 auto;
    
}
#error{
    color: red;
    text-align: left;
}